<!-- pract----------1
 <app-card-prac1>
  <p>this is a projected paragraph inside the card.</p>
</app-card-prac1> -->


<!--prac----------------2
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-card-prac1>
        <span class="card-title">my custome title</span>
        <span class="card-content">this is card body content</span>
      </app-card-prac1>
    </div>
  </div>
</div> -->




<!-- <app-card-prac1>
  <app-section>
    <p class="section-title"> Section 1</p>
    <p class="section-content"> Section content 1</p>
  </app-section>
  <app-section>
    <p class="section-title"> Section 2</p>
    <p class="section-content"> Section content 2</p>
  </app-section>
</app-card-prac1>

 -->









<h3 class="alert alert-dark"><strong>IT IS CARD</strong></h3>
<!-- <app-mobile></app-mobile> -->
<!-- <app-posts></app-posts> -->
 <app-mobile-product  *ngFor="let prod of mobileProd" [mobArr]="prod"></app-mobile-product>
<div class="container-fluid">
    <!-- <app-movies></app-movies> -->
     <!-- <app-movieprac></app-movieprac> -->
</div>